.names {
    margin-top: 3%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.names img {
    height: 120px;
    width: 120px;
}
.attackzone {
    text-align: center;
    background: cornsilk !important;
    border: 1px solid rosybrown;
    border-radius: 5px;
    padding: 20px 0 20px 0;
    box-shadow: 10px 5px 5px rosybrown;
    background-color: white;
}
.progress-bar {
    background: greenyellow;
    height: 14%;
    font-size: 20px;
    border: none;
    border-radius: 0px;
    color: black;
}
.winner {
    border: 5px solid green;
    padding: 10px 9px 5px 9px;
}